<div class="bootstrap-wrapper bg-image">
    <div class="container">
        <div class="row" style="margin-top:125px;">
            <div class="col-md-6 offset-md-3 box">
                <h1 class="text-center neo" style="color: rgb(254, 254, 254); padding-top: 30px;">Registro Medico</h1>
                <form (ngSubmit) = "formSubmit()">
                    <div class="text-center">
                    <mat-form-field class="width-50"  appearance="outline">
                        <mat-label>Colegiado</mat-label>
                        <input type="text" [(ngModel)] = "medico.colegiado" name="colegiado" matInput placeholder="Ingrese el número de colegiado" style="color:black;">
                    </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                    <mat-form-field class="width-50"  appearance="outline">
                        <mat-label>Nombre Completo</mat-label>
                        <input type="text" [(ngModel)] = "medico.nombre_completo" name="nombre_completo"  matInput placeholder="Ingrese un nombre" style="color:black;">
                    </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label>Especialidad</mat-label>
                            <input type="text" [(ngModel)] = "medico.especialidad" name="especialidad"  matInput placeholder="Ingrese la Especialidad" style="color:black;">
                        </mat-form-field>
                    </div>
                    <br>
                   
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label>Dirección</mat-label>
                            <input type="text" [(ngModel)] = "medico.direccion" name="direccion"  matInput placeholder="Ingrese su direccion" style="color:black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label>Centro Hospitalario</mat-label>
                            <input type="text" [(ngModel)] = "medico.centro_hospitalario" name="rol"  matInput placeholder="Ingrese el centro hospitalario" style="color:black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label>Edad</mat-label>
                            <input type="text" [(ngModel)] = "medico.edad" name="edad"  matInput placeholder="Ingrese la edad" style="color:black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label>Observación</mat-label>
                            <input type="text" [(ngModel)] = "medico.observacion" name="observacion"  matInput placeholder="Ingrese una Observación" style="color:black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button class="btn btn-primary">Registrar</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

