<div class="bootstrap-wrapper bg-image">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3 box">
                <h1 class="text-center">Gestion de Pacientes</h1>
                <form>
                    <br>
                    <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8 table-bordered" id="tabla-color">
                        <ng-container matColumnDef="id">
                            <th mat-headet-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-headet-cell *matHeaderCellDef> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha_nacimiento">
                            <th mat-headet-cell *matHeaderCellDef> FECHA DE NACIMIENTO</th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </td>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <th mat-headet-cell *matHeaderCellDef> DIRECCIÓN </th>
                            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                            <th mat-headet-cell *matHeaderCellDef> EDAD</th>
                            <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-headet-cell *matHeaderCellDef> ESTADO</th>
                            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef = "displayColumn"></tr>
                        <tr mat-row *matRowDef = "let row; columns: displayColumn;"></tr>

                    </table>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button routerLink="/registro_paciente" class="btn btn-primary">Registrar</button>
                        <button routerLink="/editar_paciente" style="margin-left:20px;" class="btn btn-primary">Editar</button>
                        <button routerLink="/eliminar_paciente" style="margin-left:20px;" class="btn btn-primary">Eliminar</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

