<mat-toolbar color="primary" class="navbar">
    <span class="navbar-title">Clinica La Bendición</span>
    <span class="example-spacer"></span>
    <a routerLink="/home" mat-button>
        <mat-icon>home</mat-icon>
        Inicio
    </a>
   
    <a routerLink="/show_medicos" mat-button>
        <mat-icon>medical_services</mat-icon>
        Medicos
    </a>
    <a routerLink="/show_pacientes" mat-button>
        <mat-icon>people</mat-icon>
        Pacientes
    </a>
    <a routerLink="/show_citas" mat-button>
        <mat-icon>event</mat-icon>
        Citas
    </a>
    <span class="example-spacer"></span>
   
</mat-toolbar>
