<div class="bootstrap-wrapper bg-image">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 box">
                <h1 class="text-center neo" style="color: rgb(254, 254, 254); padding-top: 30px;">Registro de Citas</h1>
                <form (ngSubmit)="formSubmit()">
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label class="label-black">Fecha y Hora</mat-label>
                            <input type="text" [(ngModel)]="cita.fechayhora" name="fechayhora" matInput placeholder="Ingrese la Fecha y hora" style="color: black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label class="label-black">ID del Paciente</mat-label>
                            <input type="text" [(ngModel)]="cita.paciente_id" name="paciente_id" matInput placeholder="Ingrese el id del paciente" style="color: black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label class="label-black">ID del Médico</mat-label>
                            <input type="text" [(ngModel)]="cita.medico_id" name="medico_id" matInput placeholder="Ingrese el id del médico" style="color: black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="text-center">
                        <mat-form-field class="width-50" appearance="outline">
                            <mat-label class="label-black">Estado de la Cita</mat-label>
                            <input type="text" [(ngModel)]="cita.estado_cita" name="estado_cita" matInput placeholder="Ingrese el estado de la cita" style="color: black;">
                        </mat-form-field>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button class="btn btn-primary">Registrar Cita</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
